.headerBG {
    height: 35vh;
    background-color: cornflowerblue;
}

.title {
    font-size: 30px;
    font-weight: 500;
}

.cardInfo {
    width: 300px;
    height: 100px;
}

.boxInfo {
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.mainInfo {
    margin-top: 30px;
    width: 90%;
    height: 70vh;
    background-color: white;
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.sideBar {
    width: 50%;
}

.listCountry {
    margin-top: 10px;
}

.containerScroll {
    overflow-y: auto;
    height: 400px;
}

.listItem {
    font-size: 10pt;
    border: none;
    align-items: flex-start;
}

.cardCountry {
    width: 300px;
    height: 70px;
}

.boxCountry {
    border: none;
    border-radius: 5px;
   
}

.fontCountryTitle {
    font-size: 11pt;
    font-size: small;
    align-content: center;
}

.fontCountry {
    font-size: 20pt;
    font-weight: 500;
    align-content: center;
}

.fontCardTitle {
    font-size: 11pt;
    font-size: small;
    align-content: center;
}

.fontCard {
    font-size: 20pt;
    font-weight: 500;
    align-content: center;
}

.mainImage {
    width: 50%;
    height: 50%;
 }

 .icon {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    margin-top: 10px;
 }